df-sampleproject02/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-sampleproject02"
		},
		"AzureDataLakeStorage1_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'AzureDataLakeStorage1'"
		},
		"ls_AzureBlobStorageArchive_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_AzureBlobStorageArchive'"
		},
		"ls_AzureSqlDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_AzureSqlDatabase'"
		},
		"ls_DLakeStorage_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'ls_DLakeStorage'"
		},
		"ls_SftpStorage_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_SftpStorage'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlakeadf.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "0320f3ce-af6b-4b19-80da-d948d9d67a09"
		},
		"AzureDataLakeStorage1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "22de1254-05fc-4ee8-9962-ee09ec1f4096"
		},
		"ls_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://akv-adeuser0608.vault.azure.net/"
		},
		"ls_AzureSqlDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mfsdbserv01.database.windows.net"
		},
		"ls_AzureSqlDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SampleProject01"
		},
		"ls_AzureSqlDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa-airbus"
		},
		"ls_DLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlakeadf.dfs.core.windows.net/"
		},
		"ls_DLakeStorage_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "0320f3ce-af6b-4b19-80da-d948d9d67a09"
		},
		"ls_DLakeStorage_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "22de1254-05fc-4ee8-9962-ee09ec1f4096"
		},
		"ls_SftpStorage_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "eu-central-1.sftpcloud.io"
		},
		"ls_SftpStorage_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "d1d3f747f2b447f79d5f05c73d84e052"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_CleansedToStrucutred')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADF_SampleProject02"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-28T08:07:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"tenant": "[parameters('AzureDataLakeStorage1_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('AzureDataLakeStorage1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureBlobStorageArchive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_AzureBlobStorageArchive_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_AzureSqlDatabase_properties_typeProperties_server')]",
					"database": "[parameters('ls_AzureSqlDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_AzureSqlDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_AzureSqlDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_DLakeStorage_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_DLakeStorage_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_DLakeStorage_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('ls_DLakeStorage_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SftpStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('ls_SftpStorage_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('ls_SftpStorage_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_SftpStorage_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzureSQLDB_CustomersTBL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First_Name",
						"type": "varchar"
					},
					{
						"name": "Last_Name",
						"type": "varchar"
					},
					{
						"name": "Gender",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_sp2_customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzureSQLDB_ProductsTBL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_sp2_products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzureSQLDB_SalesTBL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SaleID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SaleDate",
						"type": "varchar"
					},
					{
						"name": "Revenue",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_sp2_sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Sftp_Archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureBlobStorageArchive",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_ds_subFolder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_SFTP to Archive"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().p_ds_subFolder",
							"type": "Expression"
						},
						"container": "project02-archive"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureBlobStorageArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Sftp_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_ds_SubFolder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_SFTP to Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_ds_SubFolder",
							"type": "Expression"
						},
						"fileSystem": "project02-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Silver_Parquet_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "project02-silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_Customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customers",
						"fileSystem": "project02-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_Sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "project02-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SaleID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "SaleDate",
						"type": "String"
					},
					{
						"name": "Revenue",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_BronzeTOSilver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "products",
						"fileSystem": "project02-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "productid",
						"type": "String"
					},
					{
						"name": "productname",
						"type": "String"
					},
					{
						"name": "productcategory",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sftp_SalesProject_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SftpStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_ds_subFolder": {
						"type": "string"
					},
					"p_ds_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_SFTP to Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().p_ds_FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_ds_subFolder",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SftpStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sftp_SalesProject_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SftpStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_SFTP to Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/SalesProject"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SftpStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sftp_SalesProject_Sub_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SftpStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_ds_subFolder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADF_sampleproject02/ds_SFTP to Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": {
							"value": "@concat('SalesProject','/',dataset().p_ds_subFolder)",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SftpStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SFTP_Files_CopyActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "https://learn.microsoft.com/en-us/azure/data-factory/concepts-nested-activities",
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_FilesList",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyFiles",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false,
												"disableChunking": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sftp_SalesProject_Files",
											"type": "DatasetReference",
											"parameters": {
												"p_ds_subFolder": {
													"value": "@concat('SalesProject','/',pipeline().parameters.p_SubFolder)",
													"type": "Expression"
												},
												"p_ds_FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Sftp_bronze",
											"type": "DatasetReference",
											"parameters": {
												"p_ds_SubFolder": {
													"value": "@pipeline().parameters.p_SubFolder",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "ArchiveFiles",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "CopyFiles",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false,
												"disableChunking": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sftp_SalesProject_Files",
											"type": "DatasetReference",
											"parameters": {
												"p_ds_subFolder": {
													"value": "@concat('SalesProject','/',pipeline().parameters.p_SubFolder)",
													"type": "Expression"
												},
												"p_ds_FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Sftp_Archive",
											"type": "DatasetReference",
											"parameters": {
												"p_ds_subFolder": {
													"value": "@concat('SalesProject','/',pipeline().parameters.p_SubFolder,'/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))\n",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete1",
									"type": "Delete",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "ArchiveFiles",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_sftp_SalesProject_Files",
											"type": "DatasetReference",
											"parameters": {
												"p_ds_subFolder": "@concat('SalesProject','/',pipeline().parameters.p_SubFolder)",
												"p_ds_FileName": "@item().name"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_AzureBlobStorageArchive",
												"type": "LinkedServiceReference"
											},
											"path": "project02-activitylog"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_FilesList": {
						"type": "array"
					},
					"p_SubFolder": {
						"type": "string"
					}
				},
				"variables": {
					"v_Filename": {
						"type": "String"
					},
					"v_subFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ADF_SampleProject02"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-28T11:24:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sftp_SalesProject_Files')]",
				"[concat(variables('factoryId'), '/datasets/ds_Sftp_bronze')]",
				"[concat(variables('factoryId'), '/datasets/ds_Sftp_Archive')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureBlobStorageArchive')]"
			]
		}
	]
}